@model List<OnlineOtomasyon.Entities.Concrete.Musteri>
@{
    ViewBag.Title = "Index";
}
@if (Model.Count < 1)
{
    <div class="alert alert-danger mt-2">
        <p class="text-danger">
            Sisteme kayıtlı müşteri bulunamadı.
        </p>
        <a href="/Musteri/Ekle" class="btn btn-primary btn-sm">Müşteri Ekle</a>
    </div>
}
else
{
    <table class="table table-striped table-bordered mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Adı</th>
                <th>Soyadı</th>
                <th>Mail Adresi</th>
                <th>Telefon</th>
                <th>Açık Adresi</th>
                <th>Veritabanı İşlemi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id.ToString()</td>
                    <td>@item.Ad</td>
                    <td>@item.Soyad</td>
                    <td>@item.Mail</td>
                    <td>@item.Telefon</td>
                    <td>@item.Adres</td>
                    <td>
                        <a href="/Musteri/Guncelle/@item.Id" class="btn btn-warning btn-sm w-27" style="margin-left:5px;">Güncelle</a>
                        <a href="/Musteri/Sil/@item.Id" class="btn btn-danger btn-sm w-20" style="margin-left:5px;">Sil</a>
                        <a href="/Musteri/Ekle" class="btn btn-primary btn-sm w-20" style="margin-left:5px;">Ekle</a>
                        <a href="/SatisHareket/MusteriDetay/@item.Id" class="text-center btn btn-success btn-sm w-20" style="margin-left:5px;">Detaylar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

