@model OnlineOtomasyon.Entities.Concrete.Fatura
@{
    ViewBag.Title = "Ekle";
    string durum = "";
    if (ViewBag.errorMessages == null)
    {
        durum = "invisible";
    }
}


<form class="mt-3" method="post" action="/Fatura/Ekle">
    <div class="row">
        <div class="col-md-6">
            <label>Müşteri</label>
            @Html.DropDownListFor(c => c.MusteriId, (List<SelectListItem>)ViewBag.musteriDegerleri, new { @class = "form-control" })
            <label class="mt-3">Personel</label>
            @Html.DropDownListFor(c => c.PersonelId, (List<SelectListItem>)ViewBag.personelDegerleri, new { @class = "form-control" })
            <label class="mt-3">Vergi Dairesi</label>
            @Html.TextBoxFor(c => c.VergiDairesi, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            <label>Seri</label>
            @Html.TextBoxFor(c => c.SeriNo, new { @class = "form-control" })
            <label class="mt-3">Sıra Numarası</label>
            @Html.TextBoxFor(c => c.SiraNo, new { @class = "form-control" })
            <div class="mt-4">
                <button class="btn btn-primary" type="submit">Ekle</button>
                <a class="btn btn-warning" href="/Fatura/Index">Vazgeç</a>
            </div>
        </div>
    </div>
</form>



<div class="alert alert-danger @durum">
    <p class="text-danger">
        @ViewBag.errorMessages
    </p>
</div>


